<!DOCTYPE html>
<html>
<head>
    <title>Daily Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Daily Expense Tracker</h1>

    <form method="POST" action="/add-expense">

        <label>Description:</label>
        <input type="text" name="description">

        <br><br>

        <label>Amount:</label>
        <input type="number" name="amount">

        <br><br>

        <label>Category:</label>
        <select name="category">
            <option>Food</option>
            <option>Transport</option>
            <option>Bills</option>
            <option>Shopping</option>
            <option>Health</option>
            <option>Other</option>
        </select>

        <br><br>

        <button type="submit" class="add-button">Add Expense</button>

    </form>

    <h2 class="total">Total Spent: ₦{{ total }}</h2>

    <h2>Expenses</h2>

    {% for expense in expenses %}

        <p class="expense-item">
            {{ expense[1] }} - ₦{{ "{:,.0f}".format(expense[2]) }} - {{ expense[3] }}
        </p>

        <form method="POST"
              action="/delete-expense/{{ expense[0] }}"
              onsubmit="return confirm('Are you sure you want to delete this expense?');">

            <button type="submit" class="delete-button">Delete</button>

        </form>

        <form method="GET" action="/edit-expense/{{ expense[0] }}">

            <button type="submit" class="edit-button">Edit</button>

        </form>

    {% endfor %}

</body>
</html>


